body {
    margin: 0;
}

#business-name a {
    color: #2aaccd;
    font-weight: 500;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#business-name a:hover {
    color: #ffffff;
}

nav {
    padding: 15px;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 25px;
}

.nav-links li a {
    color: #2aaccd;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-links li a:hover {
    color: #ffffff;
}

.intro {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10vh 5vw;
    animation: change 20s infinite ease-in-out;
}

@keyframes change {
    0%, 20% {
        background-image: url(images/carseat6.jpg);
    }
    30%, 40% {
        background-image: url(images/carseat11.jpg);
    }
    50%, 60% {
        background-image: url(images/carseat12.jpg);
    }
    70%, 85% {
        background-image: url(images/carseat8.jpg);
    }
    90%, 100% {
        background-image: url(images/carseat2.jpg);
    }
}

.intro h1 {
    color: #2aaccd;
    font-size: 4vw;
    font-weight: 1000;
    padding-bottom: 5px;
    margin: 0;
    text-shadow:
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        3px 1px #000000;
}

.upholstery {
    font-style: italic;
    font-size: 8vw;
}

.restoration {
    font-style: italic;
    font-size: 4vw;
}

.intro p {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2vw;
    padding: 2vh 10vw;
    font-weight: 100;
}

.intro a {
    font-size: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
    padding: 1vh 1vw;
    background-color: #2aaccd;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.intro a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #000000;
}

.services {
    background-color: #2aaccd;
    text-align: center;
    padding: 0;
    margin: 0;
}

.services h2 {
    color: #000000;
    font-weight: 100;
    text-align: center;
    font-size: 3.5vw;
    margin: 0;
    padding: 2vw 2vw;
}

.first-row,
.second-row {
    color: #ffffff;
    font-size: 2vw;
    text-align: left;
    margin: 10vh 5vw;
}

.service-container {
    display: flex;
    margin: 0 10vw;
}

.service-button {
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    background-color: #000000;
    color: #ffffff;
    padding: 1vh 1vw;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-bottom: 3vh;
}

.service-button:hover {
    background-color: #676767;
}

.service-image {
    width: 15vw;
    height: 10w;
}

.appointment-contact-section {
    margin: 0;
    padding: 0;
    background-image: url(images/carseat17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
    background-attachment: fixed;
}

.appointment-contact-container {
    display: flex;
    padding: 4vh 0 20vh 0;
}

.column {
    margin: 2vh 10vw;
}

.column h2 {
    font-size: 2.5vw;
    color: #2aaccd;
    text-shadow:
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        3px 1px #000000;
}

.column p {
    font-size: 2vw;
    color: #ffffff;
    text-shadow:
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        1px 1px 0 #000000,
        3px 1px #000000;
    padding-bottom: 1.5vh;
}

.column a {
    text-decoration: none;
    color: #000000;
    padding: 1vh 1vw;
    background-color: #2aaccd;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    font-size: 1vw;
}

.column a:hover {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #000000;
}

footer {
    position: relative;
    width: 100%;
    min-height: 1vw;
    padding: 1vw 2vw;
    background-color: #000000;
}

.icon {
    display: flex;
    justify-content: center;
}

footer ul {
    text-align: center;
    list-style: none;
    display: flex;
}

.icon li {
    margin-right: 2vw;
}

.icon li a {
    font-size: 2vw;
    text-decoration: none;
    color: #2aaccd;
}

.links-div {
    display: flex;
    justify-content: center;
}

.links-div li a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #2aaccd;
}

.links-div li {
    margin-right: 3vw;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a:hover {
    color: #ffffff;
}

footer h3 {
    color: #2aaccd;
}

footer h4 {
    color: #2aaccd;
    margin: .5vw;
}

footer p {
    color: #2aaccd;
}

/* Media Queries */
@media (max-width: 768px) {
    .intro h1 {
        font-size: 10vw;
    }
    
    .upholstery {
        font-size: 20vw;
    }
    
    .restoration {
        font-size: 10vw;
    }
    
    .intro p {
        padding: 2vh 5vw;
    }
    
    .service-container {
        flex-direction: column;
        margin: 0 5vw;
    }

    .serivce-image {
        max-width: 15vw;
        max-height: 10vw;
    }
}

/* Service Page */
.service-body {
    background-color:#2aaccd;
}

.service-title {
    background-image: url(images/carseat3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6vw 5vw;
    margin-bottom: 4vw;
}

.service-title h1 {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: #2aaccd;
    text-shadow:
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    3px 1px #000000;
}

.service-info {
    padding-bottom: 10vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0vw 15vw;
}

.service-card {
    margin: 0vw 3vw;
    text-align: center;
    background-color: #000000;
    padding: 3vw;
    box-shadow: 0px .1vw .3vw rgb(68, 68, 68);
    transition: transform 0.3s ease;
    border-radius: 1vw;
}

.service-card:hover {
    transform: scale(1.09);
}

.service-card p {
    font-size: 1.2vw;
    text-align: left;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.service-card h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 2vw;
    color: #2aaccd;
    text-shadow:
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px #000000;
}

.card-image {
    width: 15vw;
    height: 12vw;
}

.gallery {
    background-color: #2aaccd;
}

.gallery-title {
    background-image: url(images/carseat12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6vw 5vw;
    margin-bottom: 4vw;
}

.gallery-title h1 {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: #2aaccd;
    text-shadow:
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    3px 1px #000000;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row h2 {
    background-color: #2aaccd;
}

.row {
    display: flex;
    background-color: #000000;
    justify-content: center;
    margin: 1vw;
    border: .1vw solid rgb(0, 0, 0);
}

.row img {
    width: 25vw;
    margin: 3vw;
}

.appointment-main {
    background-image: url(images/carseat12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6vw 5vw;
    margin-bottom: 4vw;
}

.appointment-main h1 {
    display: flex;
    justify-content: center;
    font-size: 4vw;
    color: #2aaccd;
    text-shadow:
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    1px 1px 0 #000000,
    3px 1px #000000;
}

.appointment-body {
    background-color: #2aaccd;
}